<h>Shop</h>
<%if @shopping_list != nil and @shopping_list.length > 0%>
    <% if session[:loggedin] == nil %>
        <p> please login to buy 
        <%= link_to "login", main_login_path%></p>
    <%end%>
    <table class = "table table-striped table-bordered">
        <tr>
            <td>name</td>
            <td>price</td>
            <td>stock</td>
            <td>buy</td>
        </tr>
    <%@shopping_list.each do |s|%>
        <tr>
            <td><%=s.name%></td>
            <td><%=s.price%></td>
            <td><%=s.stock%></td>
            <% if session[:loggedin] %>
            <% url = "buy/" + (s.id).to_s + "/" + s.user_id.to_s%>
            <td><%= button_to "buy", url, method: :get%></td>
            <%end%>
        </tr>
        
    <%end%>
        <tr>
        <%= link_to "Back to users", users_path %>
        </tr>
<%else%>
    <p>No item</p>
    <td><%= link_to "Back to users", users_path %></td>
<%end%>